<div class="container">
  <div class="row">
    <h1>Check In!</h1>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <input type="username" class="form-control" id="Username" placeholder="Enter username">
          <input type="location" class="form-control" id="Location" placeholder="Enter location">
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>